
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

body {
    overflow-y:scroll;
}

.row-tasks {

    height: 20px;
    font-size: 12px;

    position: absolute;
    z-index: 1;
    width: 100%;

    @for $i from 1 through 7 {
        $procentage: 14.285714 * $i;

        .task-width-#{$i} {
            flex: 0 0 $procentage + 0%;
            max-width: $procentage + 0%;
        }
        .task-offset-#{$i} {
            margin-left: $procentage + 0%;
        }
    }
}
@for $i from 1 through 7 {
    $procentage: 14.285714 * $i;
    .row-tasks.task-offset-#{$i} {
        margin-left: $procentage + 0%;
    }
}

.date {
    height: 140px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    color: #ccc;
    padding: 0px 0px 0px 0px;
    font-size:  12px;
}
.date.active {
    border-color: #9f9f9f;
    color: #9f9f9f;
}
.date:last-child {
    border-right: 1px solid #ccc;
}
.weekDaysRow:last-child {
    .date {
        border-bottom: 1px solid #ccc;
    }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s ease;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.avatar {
    border-radius: 3px;
}

.list-group-item {

    .assignee {
        max-width: 30px;
        max-heigt: 30px;
        margin-right: 5px;
    }

}

#messageBar
{
    position:fixed;
    z-index: 10000;
    top:20px;
    right:-350px;
    width:300px;
    max-height: 0;
    padding-left:14px;
    padding-right:14px;
    padding-bottom: 14px;
    border-radius:5px;
    background-color: rgba(60,60,60,0.85);
    color:#fff;
    font-size: 14px;
    opacity: 0;
    box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.31);
    transition:right 300ms ease, opacity 300ms ease, max-height 1s ease;

    .message
    {
        float: left;
        width: 100%;
        margin-top: 7px;
        padding-top:7px;
        border-top: 1px solid #767676;
    }

    .message:first-child
    {
        border-top:none;
    }

}


#messageBar.visible
{
    right:20px;
    opacity:1;
    max-height:1000px;
}



@keyframes highlightAnim{
    0%{
        background-position: -900px 0
    }
    100%{
        background-position: 900px 0
    }
}

.textLoadingBar {
    animation-duration: 2500ms;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: highlightAnim;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 28%, #eeeeee 46%);
    background-size: 900px 200px;
    height: 24px;
    position: relative;
}
